
:root{
  --primary-color: #EBE5D9;
  --tertiary-color: #C65D7B;
  --marking-color: #bbc4bb;
  --text-color-headers:#18181A;
  --text-color_dark: #18181A;
  --link-color_white:white;
  --footer-color:#18181A;
}


/*############ GLOBAL ############*/
html > * {font-family: 'Montserrat', sans-serif;}
html,body {height: 100%;margin: 0;}
body {display: flex; flex-direction: column; overflow: overlay;}
h1,h2,li,p,label {font-family: 'Montserrat', sans-serif; margin: 0px; padding: 0px;}
h1,h2 {font-size: 1rem; text-transform: uppercase;}
input,select,textarea {border: 0px; border-radius: 4px; margin: 4px 0px 4px 0px; padding: 10px;}
p {font-size: 1rem;}
li {overflow: hidden;}
ul {padding-left: 0;}

/* MODULAR CSS */

/* FLEX */
.flex {display: flex;}
.wrap{flex-wrap: wrap;}
.grow {flex-grow: 1;}
.center {justify-content: center;}
.column {flex-direction: column;}
.row {flex-direction: row; align-items: center; justify-content: space-around;}
.allign {align-content: center;}
.items-center{align-items: center;}
.space-evenly {justify-content: space-evenly;}
.space-around {justify-content: space-around;}
.center-items {display: flex;justify-content: center; align-items: center;}

/* Text and fonts */
a:link,a:visited {text-decoration: none; color: var(--text-color_dark)}
/* a:hover {text-decoration: underline; color:var(--tertiary-color);} */

.active {text-decoration: underline;}
.dark-text{color: var(--text-color_dark)}
.txt-center{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.mark-black{background-color:var(--marking-color); }

/* Decoration and styling */
.border {border: 1px solid black;}
.noborder {border:none;}
.radius{border-radius: 4px;}
.header-prod {padding-top: 15px; padding-bottom: 10px;}
.black{color:#000000}

/* Image */
.img-zoom{transition: transform .3s;}
.img-zoom:hover{transform: scale(1.05);}
.img-grey{filter: grayscale(0%);}
.img-grey:hover{filter: grayscale(0%);}
.img-max {width: 100%;}



/*--- Header (⚠JS⚠)---*/
header {background-color: var(--primary-color);}
.container {max-width: 1000px; margin-left: auto;margin-right: auto;}
.header-wrapper { max-width: 900px; min-width: 900px;}
.main_logo {padding: 15px 15px 5px 25px;}
.main_logo img {max-height: 10vh;}
.logo-text{font-weight: bold; font-size: 0.8rem;}
nav {background-color: var(--primary-color); display: none; position: absolute; top: 80px; z-index: 1000; right: 0px; font-size: 1.3rem; font-weight: 500;}
nav li {display: block; padding: 10px 10px; color: var(--text-color_dark); }
nav li :hover {color: var(--tertiary-color)!important;}
#hamburger_menu {display: none;}
#hamburger_menu:checked ~ nav {display: block;}
.fas {color: var(--text-color_dark);}
.fas:hover{color:var(--tertiary-color) ;}

/*--- Index/Landingpage ---*/
/* Main image */
body {
  background-image: url(../images/upfeathers.png);
  background-color: #ffffff;
  background-size: 10%;
  background-position-x: center;
}

/*categories*/
.cat-margin{margin-top: 5px;}
.cat-container{height: 100%;}
.cat-dir{flex-direction: column;}
.cat-tile {position: relative; text-align: center; color: white; padding: 10px 0px 10px 0px;}
.link-tile {color: var(--link-color_white)!important;}
.link-tile:hover {color:var(--tertiary-color) !important;}
.link-tile:visited {color: var(--link-color_white);}

.tile-pic{height: 350px; width: 410px;}
.tile-pic1{background-image: url(../images/furniture.jpg); background-size: cover;}
.tile-pic2{background-image: url(../images/lighting.jpg); background-size: cover;}
.tile-pic3{background-image: url(../images/accessories.jpg); background-size: cover;}


/*--- Catergory pages ---*/
.grid {display:grid;}
.grid-prod-temp{ grid-template-columns: repeat(1, minmax(0, 1fr));}
.gap-prod {gap: 90px 190px;}
.max-width{max-width: 1000px;}
.padding-prod{padding-bottom: 45px;}
.products img {max-height: 360px;}

.category-intro{height:200px; width: 625px; border-radius: 6px;}
.intro-text{position: absolute; margin-top: 3rem;}
.products-con{max-width: 1100px; padding-top: 50px; display: flex; flex-direction: column;}

.accessories-img{background-image: url(../images/intro-kitchen.png); background-size: cover;filter: grayscale(100%);}

/* Products */
.productContainer{display: flex; flex-direction: row; max-width: 950px;}
.product-card{margin: 0px 10px; padding: 10px; width: 300px; height: 250px; background-color: var(--link-color_white) ;border-radius: 6px;}
.product-image img {max-width: 200px; max-height: 170px;}
.product-price{margin-top: 5px;}
.prod-desc {margin-top: 10px;}
.rating-star {height: 1.5rem;}
.fa-solid {color: var(--tertiary-color);}
nav li :hover {color: var(--tertiary-color)!important;}


/*--- Preview ---*/
.preview {max-width: 1000px;padding-top: 20px;padding-bottom: 20px;}
.preview-image-main {max-height: 300px;}
.picture-container {flex-direction: column;}
.preview-small {display: flex; flex-direction: row;}
.preview-small img {max-width: 30px;}
.preview-txt {padding-left: 10px; max-width: 300px; margin-top: 10px; padding-right: 10px;}
.price {padding-top: 20px;padding-right: 20px;}

/*--- Cart and payment ---*/
.buy-container{padding-bottom: 30px; flex-direction: column-reverse;}
.form-innerdiv{flex-direction: column;}

/* Cart */
.cart-container{padding: 5px; margin-top: 5px; height: 450px; width: 100%;}
.cart-items {margin-top: 10px; background-color: #fff;}
.cart-items img {max-height: 100px;}
.cart-price {margin-top: 10px;}
.cart-buy {padding-top: 10px;padding-bottom: 10px;}
.cart-color {background-color: rgb(91, 130, 140,0.5);}
.cart-list {padding: 0px 5px 0px 5px;}


/*--- History ---*/
.history-container{max-width: 1000px; margin-left: auto;margin-right: auto; padding: 20px;}
.hp img {max-width: 320px;}

/*--- Our mission ---*/
.mission-container {max-width: 1000px; margin-left: auto;margin-right: auto; padding: 20px;}

/*--- Footer (⚠JS⚠)---*/
footer ul {font-size: 0.8rem; margin-top: 0px; margin-bottom: 5px;}
.footer-container{width: 200px; padding-top: 25px; padding-bottom: 25px; flex-direction: column;}
.link {color:var(--link-color_white); text-decoration: underline; text-decoration-color:var(--tertiary-color);}
.link:hover {color: var(--tertiary-color);}
.li_foot {font-size: 1.2rem; overflow: hidden; text-transform: uppercase;}

footer {
  background-color: var(--footer-color);
  color: #fff;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.8rem;
  max-width: 600px;
}
.footer-container li :hover {color: var(--tertiary-color)!important;}
footer a{color: var(--link-color_white) !important;}
footer a:visited{color:var(--link-color_white);}


/*--- Media Quaries ---*/
/*-- 600Px --*/
@media (min-width: 600px) {
  header ul {display: flex;}
  main {grid-template-columns: 1fr 1fr;}
  header {justify-content: start;align-items: flex-end;}
  header label {display: none;}
  nav {display: flex; position: relative;top: 0px;align-items: flex-end;}
  footer {justify-content: space-evenly; padding: 0px; max-width: 100%;}

  .top-row {min-height: 350px;}
  .cat-tile{padding:10px 0px 10px 0px;}
  .products-list {grid-template-columns: repeat(2, minmax(0, 1fr));}
  .products img {max-height: 200px;}
  .preview {flex-direction: row; align-items: flex-start;}
  .preview-small {flex-direction: column;}
  .footer-container{width: 200px;flex-direction: column;}
  .preview-image-main {max-height: 475px;}
  .picture-container {flex-direction: row;}
}

/*-- 800Px --*/
@media (min-width: 800px) {
  h1,h2 {font-size: 1.5rem;}
  nav {justify-content: center;}

  .top-row {min-height: 300px;}
  .img-max {max-height: 220px;}
  .tile-pic{height: 360px; width: 250px;}
  .cat-dir {flex-direction: row;}
  .cat-tile{padding:0px 5px 0px 5px;}
  .preview-small {flex-direction: column;}
  .grid-prod-temp{ grid-template-columns: repeat(2, minmax(0, 1fr));}
  .footer-container{width: 900px;flex-direction: row;}
  .form-container{width: 900px;}
  .form-message{height: 300px;}
  

}

/*-- 1000Px --*/
@media (min-width: 1000px) {
  .top-row {min-height: 365px;}
  .img-max {max-height: 290px;}
  .tile-pic{height: 360px; width: 320px;}
  .grid-prod-temp{ grid-template-columns: repeat(3, minmax(0, 1fr));}
  .products-list {grid-template-columns: repeat(3, minmax(0, 1fr));}
  .products img {max-height: 180px;}
  .preview-small {flex-direction: column;}
  .buy-container {flex-direction: row; padding-top: 30px;}
  .pay-container {padding-right: 45px;}
  .cart-list {padding: 0px 10px 0px 10px;}
  .cart-container{padding: 10px; margin-top: 0px; width: 380px;}
  .form-innerdiv {flex-direction: row; align-items: center;}
  .pay-container{max-width: 490px;} 
  .button-buy{width: 430px;}





}

/*-- 1200Px --*/
@media (min-width: 1200px) {
  .top-row {min-height: 365px;}
  .img-max {max-height: 360px;}
  .tile-pic{height: 410px; width: 390px;}
  .picture-container {margin-right: 15px; flex-direction: row;}
  .products-list {grid-template-columns: repeat(3, minmax(0, 1fr));}
  .products img {max-height: 180px;}
  .products-con {display: flex; flex-direction: row;}
} 